{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <div class="sub-nav">
            {{ include('proj/_nav.html.twig') }}
        </div>

        <h1>{{ pageTitle }}</h1>

        {{ include('flash.html.twig') }}

        {% if rounds|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th class="header-sm">Spelare</th>
                        <th class="header-sm">Poäng</th>
                        <th class="header-sm">Tid</th>
                        <th class="header-sm">Datum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for round in rounds %}
                        <tr class="clickable" onclick="window.location.href='{{ path('proj_show_round', {'id': round.id}) }}'">
                            <td>{{ round.player.name }}</td>
                            <td>{{ round.score.total }}</td>
                            <td>{{ round.duration|date("i:s") }}</td>
                            <td>{{ round.finish|date("Y-m-d H:i", localTimeZone) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="header-m margin-b">Inga rundor att visa...</h2>
        {% endif %}
    </main>
{% endblock %}
