{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <h1>API:ER</h1>

        <a class="button btn-api" href="{{ path('quote') }}">Dagens citat</a>
        <a class="button btn-api" href="{{ path('api_deck') }}">Sorterad kortlek</a>

        <form method="post" action="">
            <button
                class="button btn-api"
                type="submit"
                name="shuffle"
                value="true"
                onClick="this.form.action='{{ path('api_deck_shuffle') }}';"
            >Blandad kortlek</button>

            <button
                class="button btn-api"
                type="submit"
                name="number"
                value="1"
                onClick="this.form.action='{{ path('api_deck_draw') }}';"
            >Dra kort</button>
        </form>

        <form method="post" action="">
            <div class="container-flex">
                <button
                    class="button btn-api"
                    type="submit"
                    onClick="this.form.action='{{ path('api_deck_draw') }}';"
                >Dra flera kort</button>
                <div>
                    <label class="label-small" for="draw_num">kort</label>
                    <input
                        class="input-small"
                        type="number"
                        name="number"
                        id="draw_num"
                        min="1"
                        max="52"
                        step="1"
                        value="5"
                    >
                </div>
            </div>

            <div class="container-flex">
                <button
                    class="button btn-api"
                    type="submit"
                    onClick="this.form.action='{{ path('api_deck_deal') }}';"
                >Dela ut kort</button>
                <div>
                    <label class="label-small" for="players">spelare</label>
                    <input
                        class="input-small"
                        type="number"
                        name="players"
                        id="players"
                        min="1"
                        max="52"
                        step="1"
                        value="2"
                    >
                </div>
                <div>
                    <label class="label-small" for="deal_num">kort</label>
                    <input
                        class="input-small"
                        type="number"
                        name="cards"
                        id="deal_num"
                        min="1"
                        max="52"
                        step="1"
                        value="5"
                    >
                </div>
        </div>
        </form>
    </main>
{% endblock %}