{% extends "base.html.twig" %}

{% block content %}
    <main class="main">
        <h1>{{ pageTitle }}</h1>

        {% if players %}
            {% for player, hand in players %}
                <div class="cards">
                    <h2 class="header-m">{{ player }}</h2>
                    <div class="cards">
                        {% for card in hand %}
                            <span class="card">{{ card|raw }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <p class="header-m">{{ deckCount }} kort kvar i leken.</p>
        {% else %}
            <p class="header-m">Kortleken är tom. Gå till <a href="{{ path('card_deck_shuffle') }}">blanda kortlek</a> för att skapa en ny.</p>
        {% endif %}
        {% if deckCount == 0 %}
            <div class="container">
                <p class="header-m">Gå till
                    <a href="{{ path('card_deck_shuffle') }}">
                        blanda kortlek
                    </a>för att skapa en ny.
                </p>
            </div>
        {% endif %}

        {{ include('flash.html.twig') }}
    </main>

    <div class="aside aside-top">
        {{ include('card/_nav.html.twig') }}
    </div>
{% endblock %}
