{% extends "base.html.twig" %}

{% block body %}
    <main class="main">
        <h1>{{ pageTitle }}</h1>

        {% if hand %}
            <div class="cards">
                {% for card in hand %}
                    <span class="card">{{ card|raw }}</span>
                {% endfor %}
            </div>
            <div class="container">
                <p class="header-m">{{ deckCount }} kort kvar i leken.</p>
            </div>
        {% else %}
        <div class="container">
            <p class="header-m">Kortleken är tom. Gå till
                <a href="{{ path('card_start') }}">
                    start
                </a>för att skapa en ny.
            </p>
        </div>
        {% endif %}

        <div class="container">
            <p class="header-m">
                Prova att
                <a href="{{ path('card_deck_draw_num', {'number': 10}) }}">
                    dra 10 kort
                </a>
                eller att dra
                <a href="{{ path('card_deck_deal', {'players': 2, 'cards': 5}) }}">
                    5 kort till två spelare
                </a>
            </p>
        </div>

        {{ include('flash.html.twig') }}
    </main>

    <div class="aside aside-top">
        {{ include('card/_nav.html.twig') }}
    </div>
{% endblock %}
