{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <h1>{{ pageTitle }}</h1>

        <ul>
            <li><a href="{{ path('card_start') }}">Start</a></li>
            {# <li><a href="{{ path('card_deck') }}">Start</li>
            <li><a href="{{ path('card_draw') }}">Start</li>
            <li><a href="{{ path('card_shuffle') }}">Start</li> #}
        </ul>
    </main>
{% endblock %}
