{% extends "base.html.twig" %}

{% block content %}
    <main class="main text-container">
        <h1>{{ pageTitle }}</h1>

        <p class="header-m">Tärningar: {{ diceCount }}
        </p>
        <p class="header-m">Runda: {{ roundSum }}</p>
        <p class="header-m">Total: {{ totalSum }}</p>

        <p class="">Kasta tärningarna, eller spara poäng...</p>

        <form class="form" method="post" action="">
            <div class="btn-container">
                <input
                    class="button"
                    type="submit"
                    name="roll"
                    value="Kasta"
                    onClick="this.form.action='{{ path('pig_roll') }}';"
                >
                <input class="button"
                    type="submit"
                    name="save"
                    value="Spara"
                    onClick="this.form.action='{{ path('pig_save') }}';"
                >
                <input
                    class="button"
                    type="submit"
                    name="restart"
                    value="Börja om"
                    onClick="this.form.action='{{ path('pig_init_get') }}'; this.form.method='get';"
                >
            </div>
        </form>

        <div class="dice-graphic">
            {% for value in diceValues %}
                <span>{{ value }}</span>
            {% endfor %}
        </div>

        {{ include('flash.html.twig') }}

    </main>
{% endblock %}
