{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        {{ include('flash.html.twig') }}

        <h2 class="header-m margin-b">Namn: {{ player.name }}</h2>
        <h2 class="header-m margin-b">
            Typ:
            {{ player.type }}
            {% if player.level %} level {{ player.level }} {% endif %}
        </h2>
        <h2 class="header-m margin-b">Antal rundor: {{ player.rounds|length }}</h2>

        <a href="{{ path('proj_show_player_rounds', {'id': player.id}) }}" class="button margin-b">Visa rundor</a>
        <a href="{{ path('proj_edit_player', {'id': player.id}) }}" class="button margin-b">Redigera</a>
        <a href="{{ path('proj_delete_player', {'id': player.id}) }}" class="button margin-b">Radera</a>

    </main>
{% endblock %}
