{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <div class="sub-nav">
            {{ include('proj/_nav.html.twig') }}
        </div>

        <h1>{{ pageTitle }}</h1>

        {{ include('flash.html.twig') }}

        <h2 class="header-m margin-b">Id: {{ player.id }}</h2>
        <h2 class="header-m margin-b">Namn: {{ player.name }}</h2>
        <h2 class="header-m margin-b">Typ: ...</h2>
        <h2 class="header-m margin-b">Antal rundor: {{ player.rounds|length }}</h2>

        <h2 class="header-m margin-b">Observera att eventuella rundor relaterade till spelaren raderas!</h2>

        {{ form(form) }}

    </main>
{% endblock %}