{% extends "base.html.twig" %}

{% block body %}
    <main class="main">
        <div class="sub-nav">
            {{ include('proj/_nav.html.twig') }}
        </div>

        <h1>{{ conclusion }}</h1>

        {{ include('flash.html.twig') }}

        {% for game in gameStates %}
        <div class="gameview">
            {{ include('proj/game/_gameboard.html.twig') }}

            <div>
                <h2 class="header-m">{{ game.player }}</h2>
                <p class="header-sm margin-b">{{ game.totalScore }} poäng</p>
                <form action="{{ path('proj_game_save') }}" method="post">
                    <input type="hidden" name="game_index" value="{{ loop.index0 }}">
                    <button class="button margin-b" type="submit">Spara runda</button>
                </form>
            </div>
        </div>
        {% endfor %}

        <a class="button" href="{{ path('proj_game_init') }}">Nytt spel</a>
    </main>
{% endblock %}
