{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main">

        <h1>{{ conclusion }}</h1>

        {{ include('flash.html.twig') }}

        {% for game in gameStates %}
        <div class="gameview">
            {{ include('proj/game/_gameboard.html.twig') }}

            <div>
                <h2 class="header-m margin-b">{{ game.player }}</h2>
                <p class="header-m margin-b">{{ game.totalScore }} poäng</p>
                <form action="{{ path('proj_game_save') }}" method="post">
                    <input type="hidden" name="game_index" value="{{ loop.index0 }}">
                    <button class="button margin-b" type="submit">Spara runda</button>
                </form>
            </div>
        </div>
        {% endfor %}

        <div class="container-flex">
            <a class="button margin-b" href="{{ path('proj_game_init') }}">Nytt spel</a>
            <a class="button margin-b" href="{{ path('proj_highscore') }}">Visa topplista</a>
        </div>
    </main>
{% endblock %}
