{% extends "base.html.twig" %}

{% block body %}
    <main class="main">
        <div class="sub-nav">
            {{ include('proj/_nav.html.twig') }}
        </div>

        <h1>{{ pageTitle }}</h1>
        <h2 class="header-m margin-b">{{ player }}</h2>

        <div class="gameview">
            {{ include('proj/game/_gameboard.html.twig') }}
            {{ include('proj/game/_deck_and_card.html.twig') }}
        </div>

    </main>
{% endblock %}
