{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        {{ include('flash.html.twig') }}

        {{ form(playerForm) }}

        {{ form(playerSelectForm) }}

        {% if players|length > 0 %}
            <p class="label-small">Valda spelare</p>
            <div class="players">
                {% for player in players %}
                    <p class="header-sm">{{ player.name }}</p>
                {% endfor %}
            </div>

            {{ form(playerDeselectBtn) }}

            {{ form(startBtn) }}
        {% endif %}

    </main>
{% endblock %}
