{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <div class="sub-nav">
            {{ include('proj/_nav.html.twig') }}
        </div>

        <h1>{{ pageTitle }}</h1>

        <a class="button margin-b" href="{{ path('proj_rules') }}">Regler</a>
        <a class="button margin-b" href="{{ path('proj_singleplayer_init') }}">Singleplayer</a>
        {# <a class="button margin-b" href="{{ path('proj_multiplayer_init') }}">Multiplayerplayer</a> #}
    </main>
{% endblock %}
