{% extends "base.html.twig" %}

{% block body %}
    <main class="main">
        <div class="sub-nav">
            {{ include('proj/_nav.html.twig') }}
        </div>

        <h1>{{ pageTitle }}</h1>

        <div class="gameview">
            {{ include('proj/game/_gameboard.html.twig') }}
            <div>
                <div class="header-m margin-b">Spelare: <a href="{{ path('proj_show_player', {id: round.player.id}) }}">{{ round.player.name }}</a></div>
                <div class="header-m margin-b">Summa: {{ round.score.total }} poäng</div>
                <div class="header-m margin-b">Starttid: {{ round.start|date("Y-m-d H:i", localTimeZone) }}</div>
                <div class="header-m margin-b">Sluttid: {{ round.finish|date("Y-m-d H:i", localTimeZone) }}</div>
                <div class="header-m margin-b">Tid: {{ round.duration|date("i:s") }}</div>

                <a href="{{ path('proj_delete_round', {'id': round.id}) }}" class="button">Radera</a>
            </div>
        </div>

    </main>
{% endblock %}
