{% extends 'base.html.twig' %}

{% block favicon %}
    <link rel="icon" href="img/proj/playing-cards.svg">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('project') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('project') }}
{% endblock %}

{% block header %}
    <header class="site-header">
        <span class="site-title">
            <a href="{{ path('proj_start') }}">Poker Squares</a>
        </span>

        <nav class="nav">
            <ul>
                <li><a href="{{ path('proj_about') }}">Om</a></li>
                <li><a href="{{ path('proj_game_start') }}">Poker Squares</a></li>
                <li><a href="{{ path('proj_highscore') }}">Topplista</a></li>
                <li><a href="{{ path('proj_show_players') }}">Spelare</a></li>
                <li><a href="{{ path('proj_show_rounds') }}">Rundor</a></li>
                <li><a href="{{ path('proj_api') }}">API</a></li>
                <li><a href="{{ path('home') }}">Kurssida</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <footer class="footer">
        <p>Copyright &copy; 2024 Poker Squares Project by Olof Jönsson - oljn22</p>
    </footer>
{% endblock %}
