{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <div class="sub-nav">
            {{ include('library/_nav.html.twig') }}
        </div>

        <h1>{{ pageTitle }}</h1>

        {{ include('flash.html.twig') }}

        {% if books|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th class="header-sm">Titel</th>
                        <th class="header-sm">Författare</th>
                        <th class="header-sm">ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr class="clickable" onclick="window.location.href='{{ path('single_book', {'id': book.getId}) }}'">
                            <td>{{ book.getTitle|e }}</td>
                            <td>{{ book.getAuthor|e }}</td>
                            <td>{{ book.getIsbn|e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="header-m">Inga böcker att visa</h2>
        {% endif %}
    </main>
{% endblock %}
