{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <div class="sub-nav">
            {{ include('library/_nav.html.twig') }}
        </div>

        <h1>{{ book.getTitle }}</h1>

        {{ include('flash.html.twig') }}

        {% if book.getImage %}
            <figure class="book">
                <img
                    class="img"
                    src="{{ asset('img/library/' ~ book.getImage) }}"
                    alt="Omslagsbild för {{ book.getTitle }}"
                >
            </figure>
        {% endif %}
        <h2 class="header-sm">Författare</h2>
        <h2 class="header-m margin-b">{{ book.getauthor }}</h2>
        <h2 class="header-sm">ISBN</h2>
        <h2 class="header-m margin-b">{{ book.getIsbn }}</h2>


        <div class="container-flex">
            <a class="button" href="{{ path('edit_book_view', {'id': book.getId}) }}">Redigera</a>
            <a class="button" href="{{ path('delete_book_view', {'id': book.getId}) }}">Radera</a>
        </div>
    </main>
{% endblock %}
